
@{
    ViewData["Title"] = "Add Password Confirmation";
}


<div class="d-flex justify-content-center align-items-center vh-100 flex-column text-center">
    <div>
        <h4>
            You have successfully set a local password. You can now use either your local acount or an external account to login.
        </h4>
    </div>
</div>