@{
    ViewBag.Title = "Confirm Email";
}

<div class="d-flex justify-content-center align-items-center vh-100 flex-column text-center">
    <div>
        <img src="~/images/EmailConfirmed.jpg" class="img-fluid mb-4" alt="Error Image" />
    </div>

    <div>
        <h3>@ViewBag.ErrorMessage</h3>
    </div>
</div>