
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<form method="post" class="mb-3">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="text-danger mb-3">
            <strong>Please correct the following errors : </strong>
            <div asp-validation-summary="All"></div>
        </div>
        <hr />
    }

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <hr />
    <div class="mb-3">
       <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>