
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="d-flex justify-content-center align-items-center vh-100 flex-column text-center">
    <div>
        <h4>
            Your password is reset. Please click 
            <a asp-action="Login">
                Here to login
             </a> 
        </h4>
    </div>
</div>