
@model CreateNewEmployeeViewModel

@{
    ViewBag.Title = "Add Employee Details";
}

<form enctype="multipart/form-data" asp-controller="home" asp-action="Create" method="post" class="mb-3">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="text-danger mb-3">
            <strong>Please correct the following errors : </strong>
            <div asp-validation-summary="All"></div>
        </div>
    }

    <hr />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" placeholder="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" placeholder="Office Email Id" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Gender" class="form-label"></label>
        <select asp-for="Gender" class="form-select" asp-items="Html.GetEnumSelectList<Gender>()"></select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Department" class="form-label"></label>
        <select asp-for="Department" asp-items="Html.GetEnumSelectList<Department>()" class="form-select"></select>
        <span asp-validation-for="Department" class="text-danger"></span>
    </div> 

    <div class="mb-3">
        <label asp-for="PhotoPath" class="form-label"></label>
        <div class="mb-3">
            <div class="custom-file"> 
                <input asp-for="PhotoPath" class="form-control" type="file" id="formFile">
            </div>            
        </div>        
    </div>
    <hr/>

    <div class="mb-3">
        <a asp-controller="home" asp-action="index" class="btn btn-primary me-2">Back</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>