
@{
    ViewBag.Title = "404 Error";
}

<div class="d-flex justify-content-center align-items-center vh-100 flex-column text-center">
    <div>
        <img src="~/images/error.jpg" class="img-fluid mb-4" alt="Error Image" />
    </div>

    <div>
        <h3>@ViewBag.ErrorMessage</h3>
    </div>

    <div>
        <a asp-controller="home" asp-action="index" class="btn btn-primary">Back To Home</a>
    </div>
</div>
